body {
    background: #f8f8f8;
}

.menu li a,
.menu li a:hover {
    margin: 0;
    /* Обнуляем значение отступов */
    padding: 20px;
    /* Значение полей */
    display: inline-block;
    /* Отображать как строчный элемент */
    margin-right: 5px;
    /* Отступ слева */
    margin-bottom: 3px;
    /* Отступ снизу */
    padding: 10px;
    /* Поля вокруг текста */
    text-decoration: none;
    /*    Ссылки убирает _*/
    border-radius: 8px 3px;
    /*    Закругленные края*/
}

.menu li a {
    border: 1px solid #000;
    /* Рамка вокруг текста */
}

.menu li a:hover {
    background: #FFBF00;
    border: 1px solid #8A0829;
    /* Рамка вокруг текста */
}

.menu li {
    text-decoration: none;
    display: inline
}
